/* Tailwind core */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Demos */
@import "demos/demo1";

/* Shadcn UI */
@import "shadcn.ui";

.dnd-active .cursor-grab {
  cursor: none;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .bg-user-access {
    @apply bg-lightUserAccessBg dark:bg-darkUserAccessBg bg-no-repeat;
    background-position: right center;
    background-size: 60%;
  }
}
