/* Tailwind core */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Demos */
@import "demos/demo1";

/* Shadcn UI */
@import "shadcn.ui";

html,
:host {
  font-family: Inter, system-ui, sans-serif !important;
}

/* Parent wrapper rounded border */
.allocation-inner-tabs .ant-tabs-nav {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 4px;
  background: #ffffff;
}

/* Inactive tab */
.allocation-inner-tabs .ant-tabs-tab {
  margin: 0 !important;
  border-radius: 8px !important;
  padding: 0;
}

/* Inactive tab text */
.allocation-inner-tabs .ant-tabs-tab-btn {
  display: block;
  padding: 8px 24px;
  font-size: 14px;
  color: #000 !important;
  font-weight: 500;
}

/* Remove blue underline */
.allocation-inner-tabs .ant-tabs-ink-bar {
  display: none !important;
}

/* ACTIVE TAB background + text */
.allocation-inner-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: #005ba8 !important;
  border-radius: 8px !important;
  color: #ffffff !important;
}

.font-14 {
  font-size: 14px !important;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #005ba8 !important;
  font-weight: 700;
  font-size: larger;
}

.custom-tabs .ant-tabs-ink-bar {
  background: #005ba8 !important;
}
.allocation-inner-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff !important;
}

.dnd-active .cursor-grab {
  cursor: none;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.apexcharts-legend {
  scrollbar-width: none;
}

@layer utilities {
  .bg-user-access {
    @apply bg-lightUserAccessBg dark:bg-darkUserAccessBg bg-no-repeat;
    background-position: right center;
    background-size: 60%;
  }
}

/* Hide scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--tw-primary);
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: var(--tw-primary);
}

/* segmentedTabs */
.segmentedTabs .ant-segmented {
  width: 100%;
}

.segmentedTabs .ant-segmented-group {
  gap: 6px;
}

.segmentedTabs
  .ant-segmented-group
  .ant-segmented-item
  .ant-segmented-item-label {
  min-height: unset;
  line-height: unset;
  padding: 10px 14px;
}

.segmentedTabs
  .ant-segmented-group
  .ant-segmented-item.ant-segmented-item-selected
  .ant-segmented-item-label {
  color: var(--tw-primary);
}

.segmentedTabs
  .ant-segmented-group
  .ant-segmented-item
  .ant-segmented-item-label
  > span
  i {
  font-size: 18px;
}

.segmentedTabs
  .ant-segmented-group
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  )::after {
  background-color: #fff;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #fff;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .anticon.anticon-check
  > svg
  > path {
  fill: #fff;
}

.input-sm {
  height: 1.75rem;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
}

/* /segmentedTabs */
.filters__right .custTabs {
  width: auto;
}

.filters__right .custTabs .custtNav {
  margin: 0;
}

.mandatory {
  line-height: unset;
}

/* ant-table */
.ant-table-wrapper .ant-table-cell,
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td,
.ant-table-wrapper tfoot > tr > th,
.ant-table-wrapper tfoot > tr > td {
  padding: 10px;
}

.ant-table-thead > tr > th {
  background-color: #f9f9f9 !important;
}

/* .ant-picker {
  display: block;
  width: 100%;
  appearance: none;
  box-shadow: none;
  outline: none;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1;
  background-color: var(--tw-light);
  border-radius: 0.375rem;
  height: 2.5rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  border: 1px solid var(--tw-gray-400);
  color: var(--tw-gray-900);
} */
